@font-face {
  font-family: 'et-line';
  src: url('../fonts/et-line.eot');
  src: url('../fonts/et-line.eot?#iefix') format('embedded-opentype'),
    url('../fonts/et-line.woff') format('woff'),
    url('../fonts/et-line.ttf') format('truetype'),
    url('../fonts/et-line.svg#et-line') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* icon css */

.et-browser,
.et-pencil,
.et-presentation,
.et-megaphone {
  font-family: "et-line";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block
}

.et-browser:before {
  content: "\e00c"
}

.et-presentation:before {
  content: "\e00e"
}

.et-pencil:before {
  content: "\e032"
}

.et-megaphone:before {
  content: "\e021"
}